/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  border: 1px solid red;
  width: 350px;
  height: 20px;
  padding-top: 2%;
  padding-right: 20%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-top: 2px;
  margin-bottom: 2px;
}
